# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.virtual/

# Environment variables
.env

# OS
.DS_Store

# Docker volumes
grafana_data/
postgres_data/

# Logs
*.log

# History files
.history/

grafana/grafana_api_key.txt